@charset "utf-8";
html{
    width: 100%;
}

body{
    background-color:#fffff5;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style:none;
}

a{
    text-decoration: none;
}

section{
    width: 100%;
    padding-bottom: 60%;
    background-image: url("../fotos/12.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
}

nav{
    display: none;
}

.text-conatiner p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 18px;
}

.text-conatiner p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 40px;
}

.text-conatiner p:nth-child(3){
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #403e3e;
    font-size:20px;
    line-height:20px;
}

.text-conatiner p{
    line-height: 0px;
    margin: 45px 0px 25px
}

.text-conatiner{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.text-conatiner button{
    width:130px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: 16px;
    outline: none;
    margin: 0px 10px;
    
}

.hire-btn{
    border: 2px solid #373636;
    color: #373636;
}

.down-cv{
    background-color: #0b0b0b;
    color:#FFFFFF;
    border: none;
}

.down-cv a{
    color: #ffffff;
}

button:active{
    transform:scale(1.1);
}

.model{
    height: 560px;
    position: absolute;
    bottom: 100px;
    left:70%;
    transform: translateX(-10%);
}

.about-container{
    width: 90%;
    height:auto;
    background-color: #f8fff1;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.about-container img{
    height: 225px;
    padding-left: 15px;
    padding-top: 15px;
}

.about-text{
    max-width: 550px;
    padding-left: 10px;
}

.about-text p:nth-child(1){
    color:#403e3e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size:23px;
    line-height:0px;
}

.about-text p:nth-child(2){
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 13px;
    line-height: 5px;
}

.about-text p:nth-child(3){
    color: #7e7d7d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.about-text button{
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    outline:none;
    border:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #262525;
    margin-bottom: 15px;
}

.about-text button a{
    color: #ffffff;
}

.services{
    height: auto;
    background-color: #f8fff1;
    
}

.services-text p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height:0px;
}

.services-text p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3e3e3d;
    font-size: 15px;
    line-height: 5px;
}

.services-text p:nth-child(3){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#7e7d7d;
}

.services-text{
    max-width: 500px;
    margin: 50px 0px;
    padding-left: 10%;
}

.box-1, .box-2, .box-3, .box-4{
    width:300px;
    height: 320px;
    background-repeat:no-repeat;
    background-size:cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    position: relative;
}

.box-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.box-1{
    background-image: url("../fotos/15.jpg");
}

.box-2{
    background-image: url("../fotos/14.jpg");
}

.box-3{
    background-image: url("../fotos/16.jpg");
}

.box-4{
    background-image: url("../fotos/13.jpg");
}
/* rondje met cijver in vakje*/
.box-1 span, .box-2 span, .box-3 span, .box-4 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: bold;
}

.box-1 p:nth-child(2),.box-2 p:nth-child(2),.box-3 p:nth-child(2), .box-4 p:nth-child(2) {
    color:#FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    line-height: 0px;
    text-shadow: 0.1em 0.1em 0.2em black
}

.box-1 p:nth-child(3),.box-2 p:nth-child(3),.box-3 p:nth-child(3), .box-4 p:nth-child(3){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
    color:#ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
    
}

.box-1 button, .box-2 button, .box-3 button, .box-4 button{
    width: 120px;
    height:30px;
    background-color: #FFFFFF;
    border:none;
    outline:none;
    border-radius: 5px;
}

.contact{
    Width:100%;
    height:280px;
    background-image: url("../fotos/04.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contact p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height:0px;
}

.contact p:nth-child(2){
    Color:#3e3d3d;;
    font-size:18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.contact button{
    width: 200px;
    height: 40px;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color:#191919;
    line-height: 10px;
}

footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}


@media only screen and (min-width:800px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: #fffff5;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        padding:0px 5%;
    }
    
    nav ul{
        display: flex;
    }
    
    nav ul li a{
        margin:30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #505050;
        font-size: 15px;
        font-weight:700;
    }
    
    .logo{
        font-family: RoadTest;
        color: #000000;
        font-size: 22px;
    }
    
    .active{
        font-weight:bold;
        color: #2d2a2a;
    }

    section{
        padding-bottom: 65%;
    }

    .about-container{
        flex-direction: row;
        height:330px;
    }

    .box-container{
        flex-wrap: wrap;
        flex-direction: row;
    }

}

@media only screen and (min-width: 1024px){
    section{
        padding-bottom: 45%;
    }

    .text-conatiner p:nth-child(1){
        font-size: 18px;
    }
    
    .text-conatiner p:nth-child(2){
        font-size: 50px;
    }
    
    .text-conatiner p:nth-child(3){
        line-height:20px;
        font-size: 20px;
    }

    .about-container{
        width: 80%;
    }

    .about-container img{
        height: 75%;
        padding-left: 10px;
    }
    
    .box-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
    }
}


@media only screen and (min-width:1500px){
    .text-conatiner p:nth-child(1){
        font-size: 22px;
    }
    
    .text-conatiner p:nth-child(2){
        font-size: 60px;
    }
    
    .text-conatiner p:nth-child(3){
        line-height:30px;
        font-size: 30px;
    }

    .about-container{
        width: 60%;
    }

    .about-container img{
        height: 80%;
        padding-left: 10px;
    }

    .box-container{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 0px;
        padding-bottom: 2%;
    }

}



